body {
  height: 700px;
  background-color: white;
  width: 750px;
}

.header {
  height: 100px;
}

.head {
  font-size: 35px;
}

.header p {
  font-size: 25px;
}

.header span {
  color: red;
  opacity: 0.7;
  font-size: 35px;
  margin-left: 20px;
}
